﻿ <!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
                    <i class="icon-social-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#">
                    <i class="icon-social-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="#">
                    <i class="icon-social-github"></i>
                </a>
            </li>
        </ul>
        <img src="~/Imagenes/juegosennas-logo-min.png" class="mb-0" />
        <p class="text-muted small mb-0">JUEGOSeñas Inc.&copy; JUEGOSeñas&reg; - @DateTime.Now.Year</p>
    </div>
</footer>
