﻿<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top"><b>JUEGO</b>Señas</a>
        </li>


        @*Login y Register*@

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "sidebar-nav" }))
            {
                @Html.AntiForgeryToken()

                <br />
                <br />
                <br />
                <br />
                <li class="sidebar-nav-item">
                    @{
                        if (User.IsInRole("Administrador"))
                        {
                            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "ManageAdmin" })
                        }
                        else
                        {
                            if (User.IsInRole("Usuario"))
                            {
                                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Edit", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })
                            }
                            else
                            {
                                if (User.IsInRole("Moderador"))
                                {
                                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                }
                            }
                        }
                    }
                </li>
                <li class="sidebar-nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </li>

            }
        }
        else
        {
            <hr />
            <li class="sidebar-nav-item">
                @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
            <hr />
            <li class="sidebar-nav-item">
                @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <hr />

        }
    </ul>
</nav>
