﻿@*Barra de navegacion de la parte superior de la página*@
<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/Home/Index" class="navbar-brand"><b>JUEGO</b>Señas</a>
    <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/Home/Index" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Categorías</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                    @{
                        Html.RenderAction("_NavigationCategorias", "Categorias");
                    }
                </div>
            </li>

            <li class="nav-item">
                <a href="/Posts/Index" class="nav-link">Reviews</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/Posts/Create" class="nav-link">Crear Review</a>
                </li>
                if (User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a href="/Admin/Index" class="nav-link">Administrar</a>
                    </li>
                }
                else
                {
                    if (User.IsInRole("Usuario"))
                    {
                        <li class="nav-item">
                            <a href="/Users/Edit" class="nav-link">Mi Perfil</a>
                        </li>
                    }
                    else
                    {
                        if (User.IsInRole("Moderador"))
                        {
                            <li class="nav-item">
                                <a href="/Manage/Index" class="nav-link">Mi Perfil</a>
                            </li>
                        }
                    }
                }
            }

            <li >
                <a style="color:white" class="nav-link"> | </a>
            </li>
            <li class="nav-item">
                <a href="/Posts/Search" class="nav-link">Buscar review</a>
            </li>
        </ul>
    </div>
</nav>
