﻿<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Edit","Users")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Perfil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Posts","Manage")">
            <i class="fas fa-fw fa-table"></i>
            <span>Posts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ChangePassword","Manage")">
            <i class="fas fa-fw fa-table"></i>
            <span>Cambiar contraseña</span>
        </a>
    </li>
</ul>
