﻿<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","AdminUsuarios")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AdminUsuarios")">
            <i class="fas fa-fw fa-table"></i>
            <span>Usuarios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AdminPosts")">
            <i class="fas fa-fw fa-table"></i>
            <span>Posts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Comentarios")">
            <i class="fas fa-fw fa-table"></i>
            <span>Comentarios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Categorias")">
            <i class="fas fa-fw fa-table"></i>
            <span>Categorias</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AdminJuegos")">
            <i class="fas fa-fw fa-table"></i>
            <span>Juegos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AdminTags")">
            <i class="fas fa-fw fa-table"></i>
            <span>Tags</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","DenunciasPosts")">
            <i class="fas fa-fw fa-table"></i>
            <span>Posts Denunciados</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","DenunciasComentarios")">
            <i class="fas fa-fw fa-table"></i>
            <span>Comentarios Denunciados</span>
        </a>
    </li>

    @*<li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AdminNoticias")">
            <i class="fas fa-fw fa-table"></i>
            <span>Noticias</span>
        </a>
    </li>*@
</ul>
