﻿@model IEnumerable<Servicios.Usuario>
@{
    ViewBag.Title = "Usuarios Tops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">TOP</a>
                    </li>
                    <li class="breadcrumb-item active">10 Usuarios</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Usuarios
                    </div>



                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Top</th>
                                        <th>Usuario</th>
                                        <th>Puntaje Total</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Top</th>
                                        <th>Usuario</th>
                                        <th>Puntaje Total</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                    @{
                                        int top = 0;
                                        foreach (var item in Model.Where(x => x.Estado.Descripcion == "Activo").OrderByDescending(x => x.PuntajeTotal).Take(10))
                                        {
                                            top += 1;
                                            <tr>
                                                <td>@top</td>
                                                <td><a href="@Url.Action("Index","Users",new { username = item.UserName})">@item.UserName</a></td>
                                                <td>@item.PuntajeTotal</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Última actualización: @System.DateTime.Now</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
