﻿@model IEnumerable<Servicios.Usuario>
@{ 
    Layout = null;
}

<div class="card my-4">
    <h5 class="card-header">Ranking Usuarios</h5>
    <div class="card-body">
        <dl>
            @foreach (var item in Model.Where(x => x.Estado.Descripcion == "Activo").OrderByDescending(x => x.PuntajeTotal).Take(10))
            {
                
            <dl>
                @if (item.Avatar == null)
                {
                    <br>
                    <img style="float:left" class="d-flex mr-3 rounded-circle" src="~/Imagenes/ImagenUsuario/Usuario-Vacio.png" width="50" alt=""> <!-- PONER FOTO DE PERFIL -->
                    <br>
                }
                else
                {
                    <br>
                    <img style="float:left" class="d-flex mr-3 rounded-circle" src="@item.Avatar" width="50" alt="">
                    <br>
                }
                <a href="@Url.Action("Index","Users",new { username = item.UserName})">@item.UserName : </a> @item.PuntajeTotal
            </dl>

            }
        </dl>
    </div>
</div>