﻿@{
    ViewBag.Title = "Quiénes somos";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <div class="row justify-content-center">
        <img src="~/Imagenes/juegosennas-logo.png" />
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Nuestra misión</h3>
            <hr />
            <p>Tenemos el objetivo de dar un hogar a todos los jugadores con ganas de compartir sus experiencias y opiniones con todo el mundo.</p>
        </div>
        <div class="col-md-4">
            <h3>Nuestra visión</h3>
            <hr />
            <p>Queremos llegar a todos los jugadores del país con reseñas hechas por y para la comunidad.</p>
        </div>
        <div class="col-md-4">
            <h3>Contáctanos</h3>
            <hr />
            <address>
                <strong>JUEGOSeñas Inc.&copy;</strong>
                <br>Bv. H. Yrigoyen 1502
                <br>Rafaela, Santa Fe 2300
                <br>
            </address>
            <address>
                <abbr title="Teléfono">Tel.:</abbr>
                +54 03492-507890
                <br>
                <abbr title="Email">Correo:</abbr>
                <a href="mailto:#">resennasjuegos@gmail.com</a>
            </address>
        </div>
    </div> <!-- /.row -->
    <hr />
</div> <!-- /.container --> 