﻿@model IEnumerable<Datos.Posts>
@{ 
    ViewBag.Title = "Inicio";
}

<body>
    <!-- Header con fondo de imágen -->
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('../../Imagenes/ImagenInicio/img-banner-1.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Explora</h3>
                        <p>Hay todo un mundo esperándote.</p>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('../../Imagenes/ImagenInicio/img-banner-2.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Comparte</h3>
                        <p>Tienes ideas guardadas, aquí puedes liberarlas.</p>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url('../../Imagenes/ImagenInicio/img-banner-3.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Diviértete</h3>
                        <p>Aquí es donde puedes distenderte a tu gusto.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">Quienes somos</h2>
                <p>Somos una comunidad de reseñas sobre juegos por y para jugadores. Sumérgete y explora en nuestro sitio ya sea para dejar tu reseña, hacer comentarios, o simplemente ver las reseñas de los juegos que más sean de tu agrado. No tengas miedo, no mordemos :)</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="@Url.Action("About", "Home")">Conocer más &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4">Contáctanos</h2>
                <address>
                    <strong>JUEGOSeñas Inc.&copy;</strong>
                    <br>Bv. H. Yrigoyen 1502
                    <br>Rafaela, Santa Fe 2300
                    <br>
                </address>
                <address>
                    <abbr title="Teléfono">Tel.:</abbr>
                    +54 03492-507890
                    <br>
                    <abbr title="Email">Correo:</abbr>
                    <a href="mailto:#">resennasjuegos@gmail.com</a>
                </address>
            </div>
        </div> <!-- /.row -->
        @{
            List<Datos.Posts> PostsTemp = Model.OrderByDescending(x => x.Puntaje).ToList();
            Datos.Posts Top1; Datos.Posts Top2; Datos.Posts Top3;
            if (PostsTemp.Count() > 0)
            {
                Top1 = PostsTemp[0];
                PostsTemp.RemoveAt(0);
            }
            else
            {
                Top1 = null;
            }
            if (PostsTemp.Count() > 0)
            {
                Top2 = PostsTemp[0];
                PostsTemp.RemoveAt(0);
            }
            else
            {
                Top2 = null;
            }
            if (PostsTemp.Count() > 0)
            {
                Top3 = PostsTemp[0];
                PostsTemp.RemoveAt(0);
            }
            else
            {
                Top3 = null;
            }
        }
        <div class="row">
            @{
                if (Top1 != null)
                {
                    <div class="col-sm-4 my-4">
                        <div class="card">
                            <img class="card-img-top" src="@Top1.Juegos.Imagen" alt="imagen_top_1">
                            <div class="card-body">
                                <h4 class="card-title">@Top1.Titulo</h4>
                                <p class="card-text">@Top1.Descripcion</p>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Details", "Posts", new { id = Top1.Id })" class="btn btn-primary">Ver post</a>
                                <hr/>
                                <h5><b>TOP 1</b></h5>
                            </div>
                        </div>
                    </div>
                }
            }
            @{
                if (Top2 != null)
                {
                    <div class="col-sm-4 my-4">
                        <div class="card">
                            <img class="card-img-top" src="@Top2.Juegos.Imagen" alt="imagen_top_2">
                            <div class="card-body">
                                <h4 class="card-title">@Top2.Titulo</h4>
                                <p class="card-text">@Top2.Descripcion</p>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Details", "Posts", new { id = Top2.Id })" class="btn btn-primary">Ver post</a>
                                <hr />
                                <h5><b>TOP 2</b></h5>
                            </div>
                        </div>
                    </div>
                }
            }
            @{
                if (Top3 != null)
                {
                    <div class="col-sm-4 my-4">
                        <div class="card">
                            <img class="card-img-top" src="@Top3.Juegos.Imagen" alt="imagen_top_3">
                            <div class="card-body">
                                <h4 class="card-title">@Top3.Titulo</h4>
                                <p class="card-text">@Top3.Descripcion</p>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Details", "Posts", new { id = Top3.Id })" class="btn btn-primary">Ver post</a>
                                <hr />
                                <h5><b>TOP 3</b></h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div> <!-- /.row -->
        <hr />
    </div> <!-- /.container -->
</body>
