﻿@model IEnumerable<Datos.Posts>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-top">


    <div id="wrapper">

        <!-- Sidebar -->
        @Html.Partial("_SidebarUsuario")

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Perfil</a>
                    </li>
                    <li class="breadcrumb-item active">Posts</li>
                </ol>
            </div>
            <!-- /.container-fluid -->
            <!--PONER TODOS LOS DATOS DEL PERFIL ACA-->
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Eliminado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Eliminado</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Eliminado</td>
                                        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id }) </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

