﻿@model SitioWeb_Juegos.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cree una cuenta nueva.</h4>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Registrarse" />
                    </div>
                </div>
            </div> <!-- /.col-md-5 -->
            <div class="col-md-7 align-bottom">
                <img src="~/Imagenes/ImagenInicio/jumbo-ppal.png" class="col-md-12" />
            </div>
        </div> <!-- /.row -->
    }
    <hr class="sep-login-reg" />
</div> <!-- /.container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
