﻿@model Datos.Posts
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1>@Model.Juegos.Descripcion</h1>
                <!-- Author -->
                
                <p class="lead">
                    @if (Model.AspNetUsers.Avatar == null)
                    {
                        <img class="d-flex mr-3 rounded-circle" src="~/Imagenes/ImagenUsuario/Usuario-Vacio.png" width="125" alt=""> <!-- PONER FOTO DE PERFIL -->
                    }
                    else
                    {
                        <img class="d-flex mr-3 rounded-circle" src="@Model.AspNetUsers.Avatar" width="125" alt=""> <!-- PONER FOTO DE PERFIL -->
                    }
                    por
                    <a href="#">@Model.AspNetUsers.UserName</a>  <!--ESTE HREF DEBE LLEVAR AL PERFIL DEL AUTOR-->
                </p>
                <hr>
                <!-- Date/Time -->
                Fecha de publicación: @Model.FechaPublicacion.ToLongDateString()
                <hr>
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="@Model.Juegos.Imagen" alt="Imagen del juego">
                <hr>
                <!-- Post Content -->
                <p>@Model.Contenido</p>
                <hr />
                <!-- Post Puntajes -->
                <h4>Puntos:@Model.Puntaje</h4>
                @if (User.Identity.IsAuthenticated)
                {
                    if ((User.Identity.GetUserId() != Model.Autor) && (Model.PostDenunciados.Where(x => x.Usuario == User.Identity.GetUserId() && x.IdPost == Model.Id).ToList().Count == 0))
                    {
                        <a class="btn btn-danger" id="btnDenunciarComentario" type="submit" href="@Url.Action("Create","DenunciasPosts",new {IdPost = Model.Id })">Denunciar Post</a>
                    }


                    if ((User.Identity.GetUserId() != Model.Autor) && (Model.Votos.Where(x => x.Usuario == User.Identity.GetUserId() && x.IdPost == Model.Id).ToList().Count == 0))
                    {
                        <!--Contador de Me Gustas-->
                        <div class="qty mt-5">
                            <span class="minus bg-dark">-</span>
                            <input type="number" class="count" id="qty" value="0">
                            <span class="plus bg-dark">+</span>

                            <button type="submit" id="BtnVotar" class="btn btn-primary">Votar</button>
                        </div>

                    }

                    <hr />
                    <!-- Comments Form -->
                    <div class="card my-4">
                        <h5 class="card-header">Deja un comentario:</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea id="Comentario" class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" id="BtnComentar" class="btn btn-primary">Comentar</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <h2>¡Debes estar logueado para comentar!</h2>
                    @Html.ActionLink("Iniciar Sesion", "Login", "Account")
                    <hr />
                }

                <!-- Single Comment -->
                @foreach (var item in Model.Comentarios.ToList().Where(x => x.Estados.Descripcion == "Activo"))
                {
                    <div class="media mb-4">
                        @if (item.AspNetUsers.Avatar == null)
                        {
                            <img class="d-flex mr-3 rounded-circle" src="~/Imagenes/ImagenUsuario/Usuario-Vacio.png" width="50" alt=""> <!-- PONER FOTO DE PERFIL -->
                        }
                        else
                        {
                            <img  class="d-flex mr-3 rounded-circle" src="@item.AspNetUsers.Avatar" width="50" alt=""> <!-- PONER FOTO DE PERFIL -->
                        }

                        <div class="media-body">


                            <h5 class="mt-0">@item.AspNetUsers.UserName <small> el @item.FechaPublicacion</small></h5>
                            @item.Contenido
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.Identity.Name == item.AspNetUsers.UserName)
                                {

                                    <button type="submit" id="btnEliminarComentario" data-id="@item.Id" class="btn btn-primary">Eliminar</button>
                                }
                                else
                                {
                                    <a class="btn btn-group" id="btnDenunciarComentario" type="submit" href="@Url.Action("Create","DenunciasComentarios",new { IdComentario = item.Id, IdPost = Model.Id })">Denunciar</a>
                                }
                            }

                        </div>

                    </div>
                    <hr />
                }
            </div>
                @Html.Partial("_Widgets")
            </div>
    </div>

    <!--Scripts del me gusta-->
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.count').prop('disabled', true);
            $(document).on('click', '.plus', function () {
                $('.count').val(parseInt($('.count').val()) + 1);
                if ($('.count').val() > 5) {
                    $('.count').val(5);
                }
            });
            $(document).on('click', '.minus', function () {
                $('.count').val(parseInt($('.count').val()) - 1);
                if ($('.count').val() < -5) {
                    $('.count').val(-5);
                }
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#BtnVotar").click(function () {
            var voto = $("#qty").val();
            if (voto != 0) {
                $.ajax({
                    url: '/Posts/VotarPost/',
                    data: { Voto: voto, IdPost:@Model.Id},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        alert("Gracias por Votar!");
                        document.location.reload();
                    }
                })
                setTimeout(function () {
                    document.getElementById("BtnVotar").disabled = true;
                    document.getElementById("BtnVotar").innerHTML = "Ya votaste!";
                }, 999999999999999999);
            }
            else {
                alert("Error! El voto no puede ser 0!");
            }
        });
    })
    </script>

    <!--Hace la magia para comentar y ver el comentario creado-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#BtnComentar").click(function () {
                var comment = $("#Comentario").val();
                if (comment.trim() != "") //Se puede ingresar espacios y el comentario se guarda igual, el .trim elimina el espacio en blanco y verifica si es vacio
                {
                    $.ajax({
                        url: '/Comentarios/CrearComentario/',
                        data: { Comentario: comment, IdPost:@Model.Id},
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            alert("Gracias por Comentar!");
                            document.location.reload();
                        }
                    });
                }
                else {
                    alert("Error! Comentario Vacio");
                }

            });
        })
    </script>

    <!--Hace la magia para borrar comentario creado-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("button[id=btnEliminarComentario]").click(function () {

                if (confirm('Eliminar comentario?')) //Se puede ingresar espacios y el comentario se guarda igual, el .trim elimina el espacio en blanco y verifica si es vacio
                {
                    $.ajax({
                        url: '/Comentarios/EliminarComentario/',
                        data: { IdComentario: $(this).data("id"), IdPost:@Model.Id},
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            alert("Comentario Eliminado!");
                            document.location.reload();
                        }
                    });
                    
                }

            });
        })
    </script>
</body>


