﻿
@model IEnumerable<Datos.Posts>
@{
    ViewBag.Title = "Reseñas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">
                    <b>JUEGOS</b>eñas
                    <small> @ViewBag.SubTitle</small>
                </h1>
                <!-- Blog Post -->
                @foreach (var Po in Model.OrderByDescending(x => x.FechaPublicacion))
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="@Po.Juegos.Imagen" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">@Po.Juegos.Descripcion </h2>
                            <p class="card-text">@Po.Descripcion</p>
                            <a href="@Url.Action("Details", "Posts", new { id = Po.Id })" class="btn btn-primary">Leer más &rarr;</a>

                        </div>
                        <div class="card-footer text-muted">
                            Fecha publicación: @Po.FechaPublicacion por:
                            <a href="#">@Po.AspNetUsers.UserName</a>
                            <h4>Puntos:@Po.Puntaje</h4>
                        </div>
                    </div>
                }
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Antiguas</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Nuevas &rarr;</a>
                    </li>
                </ul>
            </div>
            @Html.Partial("_Widgets")

        </div>
        <!-- /.row -->
    </div>
</body>

