﻿@model IEnumerable<Datos.Posts>
@{
    ViewBag.Title = "Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Buscar</a>
                    </li>
                    <li class="breadcrumb-item active">Reviews</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Reviews
                    </div>



                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Autor</th>
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Juego</th>
                                        <th>Imagen</th>
                                        <th>Categoría</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Autor</th>
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Juego</th>
                                        <th>Imagen</th>
                                        <th>Categoría</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                    @{
                                        foreach (var item in Model.OrderByDescending(x => x.FechaPublicacion))
                                        {
                                    <tr>
                                        <td><a href="@Url.Action("Index","Users",new { username = item.AspNetUsers.UserName})">@item.AspNetUsers.UserName</a></td>
                                        <td><a href="@Url.Action("Details", "Posts", new { id = item.Id })">@item.Titulo</a></td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Juegos.Descripcion</td>
                                        <td><img width="175" src="@item.Juegos.Imagen" /></td>
                                        <td>@item.Juegos.Categorias.Descripcion</td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Última actualización: @System.DateTime.Now</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

