﻿@model Servicios.Juego
<div class="card my-4">
    <h5 class="card-header">Búsqueda</h5> 
    <div class="card-body">
        <div class="input-group">
            @*<input type="text" class="form-control" placeholder="Buscar por...">*@

            @Html.DropDownListFor(model => model.Id, ViewBag.Juegos as SelectList, "Seleccione un Juego", new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Buscar!</button>
            </span>
        </div>
    </div>
</div>
