﻿@model IEnumerable<Servicios.Juego>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administrador - Juegos</title>

</head>
<body id="page-top">
    <div id="wrapper">
        @Html.Partial("_SidebarAdmin")
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Tablas</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Juegos
                        @Html.ActionLink("Crear Juego", "Create")
                    </div>



                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Juego</th>
                                        <th>Categoria</th>
                                        <th>Imagen</th>
                                        <th>Eliminado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Juego</th>
                                        <th>Categoria</th>
                                        <th>Imagen</th>
                                        <th>Eliminado</th>
                                        <th>Acción</th>
                                    </tr>
                                </tfoot>
                                <tbody>

                                    @{
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Descripcion</td>
                                        <td>@item.Categorias.Descripcion</td>
                                        <td><img width="175" src="@item.Imagen" /></td>
                                        <td>@item.Eliminado</td>
                                        <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Última consulta: @System.DateTime.Now</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>
