﻿@model Servicios.Usuario
@{
    ViewBag.Title = "Gestionar perfil";
}
@ViewBag.Error
<body id="page-top">

    @*<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
          <i class="fas fa-bars"></i>
        </button>*@

    <div id="wrapper">

        <!-- Sidebar -->
        @Html.Partial("_SidebarUsuario")

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Perfil</a>
                    </li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
            <!-- /.container-fluid -->
            <!--PONER TODOS LOS DATOS DEL PERFIL ACA-->
            <dl class="dl-horizontal">
                <div class="col-md-10">

                    <dd>
                        @if (Model.Avatar == null)
                        {
                            <img style="float:left" ;style="margin:10px" class="d-flex mr-3 rounded-circle" src="~/Imagenes/ImagenUsuario/Usuario-Vacio.png" width="150" alt="">
                        }
                        else
                        {
                            <img style="float:left" ;style="margin:10px" class="d-flex mr-3 rounded-circle" src="@Model.Avatar" width="150" alt="Imagen_Usuario" /> <!-- PONER FOTO DE PERFIL -->

                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PuntajeTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PuntajeTotal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Estado.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Estado.Descripcion)
                    </dd>
                </div>
            </dl>
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


    
</body>




@*@model Servicios.Usuario

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil de Usuario</title>
</head>
<body>
    <div>
        <h4>Perfil de Usuario</h4>
        <hr />
        
    </div>
</body>
</html>*@
